.converter-box {
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(165, 168, 170);
  display: flex;
  gap: 15px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (max-width: 650px) {
  .column {
    flex-direction: column;
  }
}
